label {
    display: block;
    font-size: 1em;
}

button {
    background-color: var(--color-black);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #BEBEBE;
}

input[type=text]:focus {
    /*border: 3px solid #555;*/
}

.input-container {
    position: relative;
    max-height: 169px;
    margin: 10px 0;
}

.main-container {
    width: 60%;
    margin: 0 auto;
}

a {
    font-size: 1.5em;
    color: red;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    resize: none;
    outline: none;
}