.bar {
    height: 12vmin;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 -1px 14px 0 black;
    background-color: var(--color-mid);
    overflow: hidden;
    color: var(--color-white);
}

h1 {
    font-size: 4.5vmax;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    line-height: 12vmin;
}
