.list-container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 80px;
}

ul {
    padding: 0;
}


li {
    list-style: none;
    border-bottom: 2px solid var(--color-black);
    margin-bottom: 20px;
}

.recipe-link {
    padding-bottom: 2px;
    width: 90%;
    font-size: 2em;
    text-decoration: none;
    color: var(--color-black);
    display: inline-block;
    margin: 0;
}

.list-container h2 {
    padding-top: 100px;
    text-align: center;
    color: var(--color-yellow);
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 5px 5% 5px 5px;
    float: right;
    cursor: pointer;
}

.blue-btn {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.red-btn {
    background-color: var(--color-red);
    color: var(--color-white);
}

.delete {
    text-decoration: none;
    font-size: 1.5em;
    color: red;
    display: none;
    margin-right: 10px;
}