.list-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 90px;
}

ul {
    padding: 0;
}

i {
    display: block;
    float: right;
    color: var(--color-black);
}

li {
    width: 100%;
    list-style: none;
    border-bottom: 2px solid var(--color-black);
    margin-bottom: 20px;
}

.recipe-link {
    padding-bottom: 2px;
    font-size: 2em;
    text-decoration: none;
    color: var(--color-black);
    display: block;
}

.list-container h2 {
    padding-top: 100px;
    text-align: center;
    color: var(--color-yellow);
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 5px 5% 5px 5px;
    cursor: pointer;
}

.blue-btn {
    float: right;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.red-btn {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    background-color: var(--color-red);
    color: var(--color-white);
}

.delete-box {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 280px;
    padding: 10px;
    background-color: var(--color-white);
    box-shadow: 0 0 55px 9px rgba(0,0,0,0.42);
    z-index: 2;
}

.delete-box p {
    text-align: center;
}