html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
}

:root {
    --color-dark: #2f3640;
    --color-mid: #487eb0;
    --color-accent: #273c75;
    --color-light: #718093;
    --color-white: #f5f6fa;
}