html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
}

:root {
    --color-black: #323232;
    --color-yellow: #FFA749;
    --color-red: #E74365;
    --color-blue: #2AA7AE;
    --color-white: #ffffff;
}