doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Recipe Book
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    body
        html
            head