doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Recipe Book
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        link(rel='stylesheet', href='../style/parent.css')
        link(rel='stylesheet', href='../style/index.css')
        meta(name='google-signin-client_id', content='786319502323-fqjsf84cnqh79phubfcnnlior07hf385.apps.googleusercontent.com')
    body
        //pre=JSON.stringify(user, null, 3)
        - var name=user[0].name_first + "'s Book"
        include header

        include list



