.list-container
    if recipes[0]
        a(href='/create')
            button Add
        ul
            //pre=JSON.stringify(recipes, null, 3)
            for recipe in recipes
                li
                    a(href='/recipe/' + recipe.id)
                        p=recipe.name
    else
        a(href='/create')
            button Add
        h2
            |Aww,
            br
            |It Looks Like You Don't Have Any Recipes Yet...
            br
            br
            |Click The "Add" Button To Get Cooking!
