script(src='scripts/delete.js', type='text/javascript')

button(type='submit', onclick="window.location='/create';").blue-btn Add

.delete-box
    h1 Delete
    p Are you sure you want to delete this recipe?
    button(type='submit', onclick="window.location='/create';").red-btn Delete

.list-container
    if recipes[0]
        ul
            //pre=JSON.stringify(recipes, null, 3)
            for recipe in recipes
                    li
                        i.material-icons delete
                        a.recipe-link(href='/recipe/' + recipe.id)=recipe.name
    else
        h2
            |Aww,
            br
            |It Looks Like You Don't Have Any Recipes Yet...
            br
            br
            |Click The "Add" Button To Get Cooking!
