.add-button {
    height: 198px;
    width: 158px;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.7);
    border: 2px dashed rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    cursor: pointer;
    transition: all .2s;
    font-size: 32px;
}

.add-button:hover {
    font-size: 44px;
    border: 2px solid rgba(255, 255, 255, 0.7);
}